<template>
  <div class="container-fluid">

    <nav-component></nav-component>

    <section class="hero is-primary is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
              إختباراتنا معترف بها لدى الأطراف العلمية
          </h1>
          <h2 class="subtitle">
              قم بإختيار الأختبار الذي تريده، أو إبحث عنه في محرك البحث خاصتنا في حال لم تجده
          </h2>
        </div>
      </div>
    </section>


    <div class="searchBigContainer">
      <section class="container buttnav">
        <div>
          <form action="" class="columns">
            <div class="field searchButtField">
              <div class="control">
                <button class="button is-large is-primary"> <span class="fa fa-search"></span> </button>
              </div>
            </div>
            <div class="column field is-full">
              <div class="control">

              <input type="text" ref="search" v-model="string" placeholder="إبحث عن إختبارك الآن.." class="input is-large homeSearch radius-0">

              </div>
            </div>
          </form>
        </div>
        <!--<router-link v-if="!this.$store.getters.fromState_isAuth" to="/login"> تسجيل الدخول </router-link> -
        <router-link v-if="this.$store.getters.fromState_isAuth" to="/home"> حسابي </router-link> -

        <a @click="logout"> تسجيل الخروج </a>-->
      </section>
    </div>

    <!-- body -->
    <br>
    <section style="padding:5px 15px;" class="container is-container-mobile body-container">
      <div class="columns">
        <div class="column is-5"><hr></div>
        <div class="column"> <span class="sectionLebel"> أحدث الإختبارات </span> </div>

        <div class="column is-5"><hr></div>
      </div>

      <!-- if we dont have any data we will show that: data's loading progress -->
      <div v-if="!most_recent_data" class="is-centered">
        <span class="button is-medium is-centered is-loading">hello</span>
      </div>
      <!-- v-if="most_recent_data" -->
      <!-- will not be shown until the ajax call give us a response -->
      <div class="columns is-mobile is-multiline cardRootDiv">
        <div class="column is-4-desktop is-6-tablet is-12-mobile" v-for="exam in exams">
          <div class="card" style="box-shadow: 0 8px 19px #d4d4d4;">
            <!-- :style="getBackForCardContent()" -->
            <div id="cardcontent" class="card-content" :style="exam.background">
              <span class="category-span">
                <router-link :to="{ name: 'category', params: {category:exam.category} }">
                    {{ exam.category }}
                </router-link>
              </span>
              <h1 ref="titlecustomizing" class="title" dir="rtl" align="center">
                 {{ exam.title }}
              </h1>

            </div>
            <footer class="card-footer">
              <p class="card-footer-item item-1">
                <span>
                  <a @click="toShowPage(exam.id,exam.title)"> إجتياز الآن </a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a @click="addToRememberMe({ title : exam.title, id: exam.id })">ذكرني لاحقا</a>
                </span>
              </p>
            </footer>

          </div>
        </div>

        <!-- <div ref="loading" class="container infinite-div">
          <infinite-loading spinner="waveDots" @infinite="mostRecentExams"></infinite-loading>
          <span slot="no-results">
            <span v-if="no_more_data" slot="no-results">
              <div class="columns">
                <div class="column is-5"></div>
                <div class="column"> <span class="sectionLebel" font-size="25px;"> لا يوجد إختبارات </span> </div>
                <div class="column is-5"></div>
              </div>
            </span>
          </span>
        </div> -->

      </div>
      <div ref="loading" class="container infinite-div">
        <infinite-loading spinner="waveDots" @infinite="mostRecentExams"></infinite-loading>
        <span slot="no-results">
          <span v-if="no_more_data" slot="no-results">
            <div class="columns">
              <div class="column is-5"></div>
              <div class="column"> <span class="sectionLebel" font-size="25px;"> لا يوجد إختبارات </span> </div>
              <div class="column is-5"></div>
            </div>
          </span>
        </span>
      </div>

    </section>

  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

// import InfiniteLoading from 'vue-infinite-loading';
export default {

  data() {
    return {
        // means is it exist ? it will be changed by ajax response
        most_recent_data : false,
        exams: [],
        string : null,

        // css binding
        last_index : null,
        style_for_background : [
          // 1 brown color
          'background: linear-gradient(to right, #605C3C, #3C3B3F);',
          // 2 orange coral
          `
            background: linear-gradient(to bottom, #f45625, rgb(212, 225, 91));
          `,
          // 3 mix of purple and brown
          `
            background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          `,
          // 4 green
          `
            background: linear-gradient(to bottom, #4CAF50, #CDDC39);
          `,
          // 5 crystal clear
          `
            background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          `
        ],

        no_more_data : false,
    }
  },
  methods: {
    mostRecentExams($state){
      axios.get('/recentExams/'+this.exams.length)
        .then(response => {
          this.most_recent_data = true;
          if(response.data.length == 0){
            // for show my custom "no more data" message
            this.no_more_data = true;
            $state.complete();

            // for hiding the "no more data :)" message of the infinite loading
            this.$refs.loading.childNodes[0].style.display = "none";
          }else{
            // this.exams = response.data;
            this.most_recent_data = true;
            this.exams = this.exams.concat(response.data);
            $state.loaded();
          }
        }).catch(err =>{
          console.log(err);
        });
    },

    toShowPage(id,title){
      title = title.replace(/\s/g,'-');
      this.$router.push('/show/'+id+'/'+title);
    },

    openSideModal(){
        this.$store.commit('sideModal',true);
        if(this.$store.getters.remember_me_list == 'empty'){
          this.counted_class = 'button is-primary counted-btn is-loading';
          axios.get('/getRememberList')
            .then(res => {
              this.counted_class = 'button is-primary counted-btn';
              this.$store.commit('remove_remember_me_list');
              this.$store.commit('remove_remember_me_list');
              res.data.forEach(element => {
                this.$store.commit('remember_me_list',element.title);
              });
              this.counted_value = this.$store.getters.remember_me_list.length;
            })
            .catch(err => console.log(err.data));
      }
    },

    addToRememberMe(object){
        this.openSideModal();
          // checking user authentication
          if(this.$store.getters.fromState_isAuth){
            // open modal
            this.$store.commit('open_remember_modal',true);
            // wait until we get the remember list from database
            let interval = setInterval(()=>{
              // checking if we got some data from database
              if(this.$store.getters.remember_me_list != 'empty'){
                // checking if the title exists in the remember list
                if(this.$store.getters.arr_titles_remember_me_list.indexOf(object.title) == -1){
                  // insert a title to database
                  axios.post('/addToRememberList',{
                    title : object.title,
                    exam_id : object.id
                  }).then(res => {
                      if(res.data == true){
                        this.$store.commit('remember_me_list',object);
                        this.$store.commit('arr_titles_remember_me_list',object.title);
                      }else{
                        console.log('حدث خطأ: في ذكرني لاحقا');
                      }
                    })
                    .catch();
                    clearInterval(interval);
                }
              }
            },50);
            // end waiting
          }
    },

    shareWithFacebook(){
      FB.ui(
        {
          method: 'share',
          href: 'google.com',
        },
        // callback
        function(response) {
          if (response && !response.error_message) {
            alert('Posting completed.');
          } else {
            alert('Error while posting.');
          }
        }
      );
    },

    generateNumber(){
      return Math.floor((Math.random() * 5));
    },

    getBackForCardContent(){
      let index = this.generateNumber();
      while(index == this.last_index){
        index = this.generateNumber();
      }
      this.last_index = index;
      return this.style_for_background[index];
    },

  },
  // mounted(){
  //   this.mostRecentExams();
  // },
  watch: {
    string : function(value){
      this.$router.push('/search='+value);
      //this.toSearch(value);
    },
  },
  components: {
    InfiniteLoading,
  },

}
</script>

<style>

</style>
