<template>
  <div>

      <nav-component></nav-component>

      <div class="container">


        <br><br><br><br>
        <br><br>

        <div class="searchBigContainer">
          <section class="container buttnav">
            <div>
              <form action="" @submit.prevent="search()" class="columns">
                <div class="field searchButtField">
                  <div class="control">
                    <button class="button is-large is-primary"> <span class="fa fa-search"></span> </button>
                  </div>
                </div>
                <div class="column field is-full">
                  <div class="control">

                  <input autofocus v-model="search_string" type="text" ref="search" placeholder="إبحث عن إختبارك الآن.." class="input is-large homeSearch radius-0">

                  </div>
                </div>
              </form>
            </div>

          </section>
        </div>

        <!-- <div class="loginDiv">
            <div class="field">
                <div class="control">

                        <b-autocomplete ref="search"
                          v-model="search_string"
                          placeholder=""
                          max-results="10"
                          loading:="true"
                          :keep-first="keepFirst"
                          :data="filteredDataObj"
                          field="title"
                          @select="option => selected = option">
                      </b-autocomplete>
                </div>
            </div>
        </div> -->

        </br></br></br>

        <!-- will not be shown until the ajax call give us a response -->
        <div class="container txt-center" v-if="!result_exists"> لا يوجد نتائج لما تبحث عنه </div>
        <div class="columns is-mobile is-multiline cardRootDiv" v-if="result_exists">
          <div class="column is-4-desktop is-one-third-tablet is-12-mobile" v-for="exam in data">
            <div class="card" style="box-shadow: 0 8px 19px #d4d4d4;" :style="exam.background">
            <!-- :style="getBackForCardContent()" -->
            <div class="card-content">
              <span class="category-span"> {{ exam.category }} </span>
              <h1 class="title" dir="rtl" align="center">
                 {{ exam.title }}
              </h1>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item item-1">
                <span>
                  <a @click="toShowPage(exam.id,exam.title)"> إجتياز الآن </a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a @click="addToRememberMe(exam.title)">ذكرني لاحقا</a>
                </span>
              </p>
            </footer>

          </div>
          </div>
        </div>

      </div>
  </div>
</template>

<script>
export default {
    data(){
        return  {
            name : '',
            search_string : '',
            data : [],
            keepFirst: true,
            selected: null,
            result_exists : false,
            tags : [],
            tags_to_search : [],
            last_word: "",
            // css binding
            last_index : null,
        }
    },

    mounted(){
        this.search_string = this.$route.params.string;
        this.$refs.search.focus();
        this.getOldTags();
    },

    methods : {
        getOldTags(){
            axios.get('/get_old_tags')
              .then(res => {

                  res.data.forEach(object => {
                      this.tags.push(object.tag);
                    });

              })
              .catch(err => {
                  console.log(err);
              });
        },
        search(){
            axios.post('/my_search',{
              search_array : JSON.stringify(this.tags_to_search)
            })
            .then(res => {
                if(res.data.search_string || res.data.length == 0) {
                  this.result_exists = false;
                }else {
                  this.result_exists = true;
                  this.data = res.data;

                }
            })
            .catch(err => {
                console.log(err);
            });
        },

        toShowPage(id,title){
          title = title.replace(/\s/g,'-');
          this.$router.push('/show/'+id+'/'+title);
        },

        openSideModal(){
            this.$store.commit('sideModal',true);
            if(this.$store.getters.remember_me_list == 'empty'){
              this.counted_class = 'button is-primary counted-btn is-loading';
              axios.get('/getRememberList')
                .then(res => {
                  this.counted_class = 'button is-primary counted-btn';
                  this.$store.commit('remove_remember_me_list');
                  this.$store.commit('remove_remember_me_list');
                  res.data.forEach(element => {
                    this.$store.commit('remember_me_list',element.title);
                  });
                  this.counted_value = this.$store.getters.remember_me_list.length;
                })
                .catch(err => console.log(err.data));
          }
        },

        addToRememberMe(title){
            this.openSideModal();
              // checking user authentication
              if(this.$store.getters.fromState_isAuth){
                // open modal
                this.$store.commit('open_remember_modal',true);
                // wait until we get the remember list from database
                let interval = setInterval(()=>{
                  // checking if we got some data from database
                  if(this.$store.getters.remember_me_list != 'empty'){
                    // checking if the title exists in the remember list
                    if(this.$store.getters.remember_me_list.indexOf(title) == -1){
                      // insert a title to database
                      axios.post('/addToRememberList',{
                        title : title
                      }).then(res => {
                          if(res.data == true){
                            this.$store.commit('remember_me_list',title);
                          }else{
                            console.log('حدث خطأ: في ذكرني لاحقا');
                          }
                        })
                        .catch();
                        clearInterval(interval);
                    }
                  }
                },50);
                // end waiting
              }
        },

    },

    computed: {
        filteredDataObj() {
              return this.data.filter((option) => {
                  return option.tags
                      .toString()
                      .toLowerCase()
                      .indexOf(this.search_string.toLowerCase()) >= 0
              })
        }
    },

    watch : {
        search_string : function(string){
          if(string.length == 0) this.tags_to_search = [];
          if(this.tags_to_search.indexOf(string) == -1 && this.tags.indexOf(string) != -1) this.tags_to_search.push(string);

          if(string.lastIndexOf(" ") > 0) {
            this.last_word = string.slice(string.lastIndexOf(" ")+1);
            if(this.tags.indexOf(this.last_word) != -1 && this.tags_to_search.indexOf(this.last_word) == -1){
              this.tags_to_search.push(this.last_word);
            }
          }

        }
    }

}
</script>
