<template>
  <div>
    <nav-component></nav-component>

    <timer v-if="exam_exist" :timeReady="timer_ready" :minutes="min" :seconds="sec" :runIt="turn_it" @time-out="stopAllCauseOfTime"></timer>

    <br><br><br><br>
    <div class="root container">
        <br><br><br><br>
        <div class="columns">
            <div class="column is-4 is-hidden-mobile is-hidden-touch">

                <!-- if we dont have any data we will show that: data's loading progress -->
                <div v-if="side_exams.length == 0">
                  <center>
                    <span class="button is-medium is-default is-loading">
                      hello
                    </span>
                  </center>
                </div>

                <div v-if="side_exams.length>0" class="columns is-multiline">
                  <div class="column is-full" v-for="exam in side_exams">
                    <div class="card" style="box-shadow: 0 8px 19px #d4d4d4;">
                      <!-- :style="getBackForCardContent()" -->
                      <div id="cardcontent" class="card-content" :style="exam.background">
                        <span class="category-span">
                          <router-link :to="{ name: 'category', params: {category:exam.category} }">
                              {{ exam.category }}
                          </router-link>
                        </span>
                        <h1 ref="titlecustomizing" class="title" dir="rtl" align="center">
                           {{ exam.title }}
                        </h1>

                      </div>
                      <footer class="card-footer">
                        <p class="card-footer-item item-1">
                          <span>
                            <a @click="toShowPage(exam.id,exam.title)"> إجتياز الآن </a>
                          </span>
                        </p>
                        <p class="card-footer-item">
                          <span>
                            <a @click="addToRememberMe({id : exam.id,  title: exam.title})">ذكرني لاحقا</a>
                          </span>
                        </p>
                      </footer>

                    </div>
                  </div>

                  <div ref="loading" class="column is-12 container infinite-div">
                    <infinite-loading spinner="waveDots" @infinite="getSideExams"></infinite-loading>
                    <span slot="no-results">
                      <span v-if="no_more_data" slot="no-results">
                        <div class="columns">
                          <div class="column is-5"></div>
                          <div class="column"> <span class="sectionLebel" font-size="25px;"> لا يوجد إختبارات </span> </div>
                          <div class="column is-5"></div>
                        </div>
                      </span>
                    </span>
                  </div>
                </div>

            </div>
            <div class="column">
                <div class="loginDiv">

                    <!-- exam title -->
                    <h1 class="rtl">{{ this.$route.params.title.replace(/-/g,' ') }}</h1>
                    <span v-if="!exam_exist" class="is-centered"> تحميل الإختبار.. </span>

                    <!-- exam form -->
                    <div class="is-relative" v-if="exam_exist && !result_exists && !prediction_result_exists">

                        <!-- start exam modal -->
                        <div class="start-exam-modal" v-if="exam_started">
                            <div>
                                <!-- <br><br><br> -->
                                <span @click="startExam" class="button is-primary is-large">إبدأ الآن</span>
                                <!-- <br><br><br> -->
                            </div>
                        </div>

                        <div>
                            <!-- question -->
                            <h2 class="show_title rtl"> {{ question.question }} </h2>
                                <ul>
                                    <!-- answer -->
                                    <li class="show_li rtl" v-for="answer in answers[questions.indexOf(question)]">
                                        <!-- {answer : answer, question_id : questions.indexOf(question) } -->
                                        <!-- ''+answer+'-'+questions.indexOf(question) -->
                                        <b-radio v-if="question.isNotMultiAnswers != 'لا'" v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            {{ answer[0] }}
                                        </b-radio>
                                        <b-checkbox v-if="question.isNotMultiAnswers == 'لا'" checked="false" v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            {{ answer[0] }}
                                        </b-checkbox>
                                    </li>
                                    <!-- end answer -->
                                </ul>
                        </div>

                        <!-- to next button -->
                        <div class="field">
                            <div class="control divContainNextButt">
                                <button v-if="checked_answers[counter].length == 0" @click="toNext" class="button is-large is-static"> التالي </button>
                                <button v-if="checked_answers[counter].length != 0" @click="toNext" class="button is-large is-primary"> التالي </button>
                            </div>
                        </div>
                    </div>

                    <!--<div class="text-center">
                        <p class="instruction  rtl"></p>
                        <button class="button is-primary is-large radius-0 start-test"> إبدأ الآن </button>
                    </div>-->

                    <div v-if="prediction_result_exists" class="columns is-multiline">
                      {{ prediction_result }}
                    </div>

                    <!-- result section -->
                    <div v-if="result_exists" class="columns is-multiline">
                        <!--  -->
                        <div class="column is-full">
                            <span> النتيجة : </span>
                            <span>{{ rightAnswers.length }} إجابة صحيحة </span>
                            <span>{{ falseAnswers.length }} إجابة خاطئة </span>
                        </div>

                        <!-- right answers section -->
                        <ul class="column is-12 rightRes rtl">
                            <h3 class="h3_right_answers"><i class="fa fa-check-circle-o"></i> الإجابات الصحيحة</h3>
                            <li v-for="answer in rightAnswers">

                                <!-- question -->
                                <h4 class="result_ques ">- {{ questions[answer.question_id].question }}</h4>
                                <!-- your answer -->
                                <span class="result_ans p-r-20"><i class="fa fa-check ans_icon"></i> {{ answer.ans }}</span>
                                <!-- the right answer -->
                                <div v-for="ans1 in answers[answer.question_id]">
                                    <div v-if="ans1[0] != answer.ans">
                                        <span class="result_ans p-r-20" v-if="ans1[1]">
                                            <b-tooltip label="إجابة صحيحة، لم تخترها"
                                            position="is-left"
                                            type="is-dark"
                                            size="is-large"
                                            animated>
                                                <i class="fa fa-info-circle ans_icon"></i>
                                            </b-tooltip>
                                            {{ ans1[0] }} <br></span>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <br>

                        <!-- false answers section -->
                        <ul class="column rightRes falseRes rtl">
                            <h3 class="h3_right_answers false_answer"><i class="fa fa-window-close-o"></i> الإجابات الخاطئة</h3>
                            <li v-for="answer in falseAnswers">

                                <!-- question -->
                                <h4 class="result_ques ">- {{ questions[answer.question_id].question }}</h4>
                                <!-- your answer -->
                                <span class="result_ans line-through p-r-20"><i class="fa fa-close ans_icon"></i> {{ answer.ans }}</span>
                                <br>
                                <!-- the right answer -->
                                <div v-for="ans in answers[answer.question_id]">
                                    <span class="result_ans p-r-20" v-if="ans[1]"><i class="fa fa-check ans_icon"></i> {{ ans[0] }} <br></span>
                                </div>

                            </li>
                        </ul>

                    </div>
                    <!-- end result section -->
                </div>
            </div>

            <div class="column is-4 is-hidden-desktop">

                <div class="columns is-multiline">
                    <div class="column is-full" v-for="n in 15">
                        <div class="card show-card">
                            <div class="card-content">
                                <p class="title">
                                    “ qsdqsmùdlùqmsld7 ”
                                </p>
                                <p class="subtitle">
                                    حمزة نوالي
                                </p>
                            </div>

                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <span>
                                        <a> إجتياز الآن </a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span>
                                        <a>ذكرني لاحقا</a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  data(){
      return {
          exam_exist: false,
          id : null,
          questions : '',
          counter : 0,
          question : '',
          answers : '',
          checked_answers : [[]],
          result_exists : false,
          rightAnswers : [],
          falseAnswers : [],
          radio : '',
          min: 0,
          sec: 0,
          category : null,
          exam_started : true,
          turn_it : false,
          finished_exam : false,
          timer_ready : false,
          predicted_answers: null,
          predicted_messages : null,
          with_prediction : null,
          prediction_result_exists : false,
          prediction_result: "",
          side_exams : [],

          // used to know whether the URL updated
          route : null,
          no_more_data : false,

      }
  },
  methods:{
      getSideExams($state){
        console.log(this.side_exams.length);
        axios.get('/exams_where_category/'+this.category+'/'+this.side_exams.length)
          .then(response => {
            this.most_recent_data = true;
            if(response.data.length == 0){
              // for show my custom "no more data" message
              this.no_more_data = true;
              $state.complete();

              // for hiding the "no more data :)" message of the infinite loading
              this.$refs.loading.childNodes[0].style.display = "none";
            }else{
              // this.exams = response.data;
              // this.most_recent_data = true;
              this.side_exams = this.side_exams.concat(response.data);
              $state.loaded();
            }
          }).catch(err =>{
            console.log(err);
          });
      },
      stopAllCauseOfTime(){
          console.log('okey');
          if(!this.finished_exam){
              let interval = setInterval(()=>{
                  if(this.finished_exam){
                      clearInterval(interval);
                  }else{
                      this.toNext();
                  }
              },1);
          }
      },

      getExam(){
        axios.get('/getExam/'+this.$route.params.id).then(response => {
            this.id = response.data[0].id;
            this.questions = JSON.parse(response.data[0].question);
            this.answers = JSON.parse(response.data[0].answer);
            this.min = JSON.parse(response.data[0].timer).minutes;
            this.sec = JSON.parse(response.data[0].timer).seconds;
            this.exam_exist = true;
            this.question = this.questions[this.counter];
            this.with_prediction = JSON.parse(response.data[0].with_prediction);
            this.predicted_answers = JSON.parse(response.data[0].predicted_answers);
            this.predicted_messages = JSON.parse(response.data[0].predicted_messages);
            this.category = response.data[0].category;
            if(this.min > 0){
                this.timer_ready = true;
            }else if(this.min == 0 && this.sec > 0){
                this.timer_ready = true;
            }
        }).catch();
      },

      comparePredictionsWithCheckedAnswers(){

        let i ,j ,n;
        let prediction_index = null;

        // loop throughout the predictions
        for(i = 0; i<this.predicted_answers.length-1 ; i++){

          // check wether the prediction_index exist
          if(prediction_index != null) break;

          // you can understand it
          prediction_index = i;

          // loop throughout the questions
          for(j = 0; j<this.predicted_answers[i].length; j++){

            // i test the length just for minimizing time
            /*
            if i use radio in answer
            that mean i have just one
            answer, so i dont need to
            compare the length
            */
            if(Array.isArray(this.predicted_answers[i][j]) && Array.isArray(this.checked_answers[j])
              && this.predicted_answers[i][j].length
              != this.checked_answers[j].length){

                prediction_index = null;
                break;

            }

            // loop throughout the predicted answers for the [j] question
            for(n = 0; n<this.predicted_answers[i][j].length ; n++){
                // if i use checkbox
                if(Array.isArray(this.predicted_answers[i][j]) && this.predicted_answers[i][j][n] != this.checked_answers[j][n].answer[0]){
                  prediction_index = null;
                  j = this.predicted_answers[i].length;
                  break;
                }
                // if i use radio rather than checkbox in answer
                else if(!Array.isArray(this.predicted_answers[i][j]) && this.predicted_answers[i][j] != this.checked_answers[j].answer[0]){
                  prediction_index = null;
                  j = this.predicted_answers[i].length;
                  break;
                }
            }

            // // if all the prediction answers match the checked answers of the [i] question
            // if(prediction_index != null && j == this.predicted_answers[i].length){
            //     return prediction_index;
            // }

          }
        }
        return prediction_index;

      },

      toNext(){
          this.counter++;
          this.checked_answers.push([]);
          if(!this.questions[this.counter]){

              this.finished_exam = true;
              this.turn_it = false;

              if(this.with_prediction == 1){
                let pre_index = this.comparePredictionsWithCheckedAnswers();

                if(pre_index == undefined && pre_index == null){
                  pre_index = this.predicted_messages.length-1;
                }

                this.prediction_result = this.predicted_messages[pre_index];
                this.prediction_result_exists = true;
                return;
              }

              this.result_exists = true;
              this.checked_answers.forEach((array) => {
                // this is for the radio answer

                if(!Array.isArray(array)){
                    array = [array];
                }

                array.forEach( elem => {
                    if(elem.answer[1]){
                        this.rightAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }else{
                        this.falseAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }
                } );

              });
          }else{
              this.question = this.questions[this.counter];
          }
      },

      startExam(){
          this.exam_started = false;
          this.turn_it = true
      },

      toShowPage(id,title){
        title = title.replace(/\s/g,'-');
        this.$router.push('/show/'+id+'/'+title);
      },

      addToRememberMe(object){
          this.openSideModal();
            // checking user authentication
            if(this.$store.getters.fromState_isAuth){
              // open modal
              this.$store.commit('open_remember_modal',true);
              // wait until we get the remember list from database
              let interval = setInterval(()=>{
                // checking if we got some data from database
                if(this.$store.getters.remember_me_list != 'empty'){
                  // checking if the title exists in the remember list
                  if(this.$store.getters.arr_titles_remember_me_list.indexOf(object.title) == -1){
                    // insert a title to database
                    axios.post('/addToRememberList',{
                      title : object.title,
                      exam_id : object.id
                    }).then(res => {
                        if(res.data == true){
                          this.$store.commit('remember_me_list',object);
                          this.$store.commit('arr_titles_remember_me_list',object.title);
                        }else{
                          console.log('حدث خطأ: في ذكرني لاحقا');
                        }
                      })
                      .catch();
                      clearInterval(interval);
                  }
                }
              },50);
              // end waiting
            }
      },

      openSideModal(){
          this.$store.commit('sideModal',true);
          if(this.$store.getters.remember_me_list == 'empty'){
            this.counted_class = 'button is-primary counted-btn is-loading';
            axios.get('/getRememberList')
              .then(res => {
                this.counted_class = 'button is-primary counted-btn';
                this.$store.commit('remove_remember_me_list');
                this.$store.commit('remove_remember_me_list');
                res.data.forEach(element => {
                  this.$store.commit('remember_me_list',element.title);
                });
                this.counted_value = this.$store.getters.remember_me_list.length;
              })
              .catch(err => console.log(err.data));
        }
      }

  },
  // beforeUpdate(){
  //   if(this.side_exams.length == 0) {
  //     window.scrollTo(0, 0);
  //     if(this.category != null) this.getSideExams();
  //   }
  // },
  updated(){
    if(this.side_exams.length == 0) {
        window.scrollTo(0, 0);
        // call it after load the exam
        if(this.category != null) this.getSideExams();
    }

    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getExam();
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    this.getExam();
  },
  components: {
    InfiniteLoading,
  },
}
</script>
