$primary : #be26ff;//#4fbd6a;//#8dc742;

@import "node_modules/bulma/bulma.sass";
@import "node_modules/Dubai-webfonts/fontFace";

$gradient-back : #00b09b;
$gradient-back : -webkit-linear-gradient(to right, #96c93d, #00b09b);
$gradient-back : linear-gradient(to right, #96c93d, #00b09b);

.is-bold {
  background : $gradient-back !important;
}

input {
  direction : rtl;
}

body {
    background-color: #efefef;
    text-align: right;
    input,h1,h2,h3,span,i,p,div {
        text-align: right;
    }
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-fluid {
  position: relative;
}

.my-navbar-container {
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0;
  background-color: rgba(39, 39, 39, 0.94);
  left: 0;
  z-index: 2000;
  a {
    color: #ececec;
  }
  a:hover, a:active {
    color: #fff;
  }

  .column  ul li {
    display: inline;

    .has-dropdown {
      padding : 12px 15px;
    }

    .first {
      padding: 20px 10px;
    }

    a:hover {
      color:#fff;
      background: inherit;
    }
  }

  .my-right-side-nav li{
    float: right;
  }

  .my-left-side-nav li{
    float: left;

    .left-first {
      padding: 20px 20px;
    }
  }

  .column {
    padding: 0px;
  }

}

button {
  font-weight: 200;
}

.modal {
  z-index:5000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
}

.dropdown-more {
  background-color: rgba(39, 39, 39, 0.94);
  z-index: 2000;
  margin-right:20px;
  position: absolute;
  width: 150px;
  //border-top:1px solid #eee;

  ul li {
    display: block;
    width: 100%;
  }

  a.first {
    padding: 10px 10px !important;
    border-top:1px solid $primary;
  }
}

a.navbar-item {
  direction: rtl !important;
  padding-right: 15px !important;
  color:#ececec ;
}

.buttnav {
  padding:20px;
  background-color: #fff;
  font-size: 25px;
  z-index: 500;
  position: absolute;
  top:-30px;
  box-shadow: 0 8px 19px #d4d4d4;
  right: 15px;
  left: 15px;
}

.searchBigContainer {
  position:relative;
  margin-bottom: 100px;
}

/*---- login ---*/
.loginDiv {
  padding: 30px 50px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 0 10px #e2e2e2;
  /* color: black; */
  border: 1px solid #eee;
  margin-bottom: 100px;
}

.loginDiv input:focus {
  border: 1px solid $primary !important;
}

.autocomplete.control .input {
  height: auto;
}

.loginDiv .myloginBTN{
  width: 100%;
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 200;
  border-radius:50px;
  background-color: #c025ff;
}

.loginDiv input {
  margin-top: 15px;
  box-shadow: inset 0 0 black;
  padding: 15px 30px;
  border-radius: 0px;
  box-shadow: 3px 3px #f6f6f6;
  width: 100%;
  border: 1px solid #e2e2e2;
  font-size: 17px;
  font-weight: 400;
  color: #6b6b6b
}

.loginDiv input:focus {
  border: 1px solid #ccc;
}

.loginDiv h1{
  font-size: 25px;
    font-weight: 200;
    color: #7b7b7b;
    margin-bottom: 15px;
}

.loginDiv h1 {
  text-align : center;
  padding-bottom: 15px;
  border-bottom : 2px solid #be26ff;
}

.loginDiv p {
    text-align : center;
    margin: auto;
}

.alert.is-danger {
  color : #fff;
  font-size:13px;
  background-color: #f69A9A;
  text-align: right;
}

.danger-nav {
  background-color: #f68181;
  color: #fff;
  padding: 25px;
  font-weight:200;
  font-size:25px;
}

.nav-fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.login_root p{
  text-align : center;
}

/*---- home.vue ---*/

.homeSearch {
  border: 1px solid #ccc;
  border-radius: 0px;
  height: auto;
padding-bottom: 20px;
padding-top: 17px;
  font-weight: 200;
  box-shadow: inset 0px 0px 0px #000;
}

.searchButtField {
  position: absolute;
  z-index:550;
  margin-left:25px;
  margin-top:22px;
}

.searchButtField button {
  border-radius:0px;
}

h1 .title {
  line-height: 2;
}

.title, .subtitle {
  font-weight:200;
}

.sectionLebel {
  text-align: center;
  font-size:25px;
  font-weight:300;
}

hr {
  background-color: #b5b5b5;
}

.cardRootDiv column {
  padding: 10px;
}

.cardRootDiv card {
  height: 600px;
}

/*---- post ---*/
.loginDiv .nextButt {
  width:100%;
  border-radius:0px;
}

.addAns {
  position: absolute;
  z-index: 100;
  margin-top: -45px;
  border-radius: 0px;
  margin-left: 8px;
  top: -12px;
  line-height: 25px;
}

.checkButt {
  margin-left: 55px;
}

.answer {
  text-align: right;
  padding: 15px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 400;
  right:0;
}

.quest_title {
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
}

.queTitle {
  text-align:right;
  span{
    padding: 5px 15px;
    background-color: #eee;
    border-radius: 20px;
  }
}

.questionShowSec {
  text-align: right;
  background-color: #fdf8ff;
  border-right: 2px solid #be26ff;
  padding: 30px 50px;
  margin-bottom: 20px;
  text-align: right;
  span{
    line-height: 20px;
    margin-top:20px;
  }
  div {
    margin-top: 15px;
    background-color: #e4e4e4;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
  }
  margin-top: 40px !important;
  padding-top: 0px;
}

/*------- show -------*/
.show_title {
  padding: 10px;
  background-color: #f6f6f6;
  margin-top: 15px;
}

.show_answer {
  padding: 5px 10px;
}

.check {
  padding: 0px 9px;
  float: right;
  margin-left: 10px;
}

.show_li {
  margin-top: 15px;
  padding: 10px 0px;
  /* background-color: #7a7a7a; */
  /* color: #fff; */
  padding-right: 20px;
  /* border-radius: 50px; */
  border: 1px solid #eee;
  text-align: right;
}

.sucAns , .falAns{
  padding: 3px 8px;
  color: #fff;
  background-color: #b0dc7e;
  border-radius: 5px;
}

.falAns{
  background-color: #f27977;
}

.rightRes {
  background-color: rgba(154, 246, 185, 0.21);
  padding: 25px;
  .h3_right_answers {
    padding: 15px 20px;
    background-color: #9af6b9;
    color: #6b8975;
    font-weight: 300;
    font-size: 21px;
    line-height: 19px;
    border-right: 3px solid #6b8975;
  }

  .ans_icon {
    font-size: 13px;
    line-height: 30px;
  }

  li{
    margin: 15px 0px;
    font-weight: 200;
    font-size: 20px;
  }

  .result_ans {
    padding-right: 15px;
    font-weight: 300;
  }

  .false_answer {
    background-color: #f69a9a;
    color: #5a5050;
    border-right: 2px solid #5a5050;
  }

  .line-through{
    text-decoration: line-through;
  }
}

.falseRes{
    background-color: rgba(246, 154, 154, 0.13);
    margin-top: 20px;
  }

/*
  Global side hidden div
*/

.sideHiddenDiv {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
  background-color: rgba(54, 54, 54, 0.76);
  div {
    background-color: #f5f5f5;
  }
  .is-default {
    font-size:20px;
    font-weight: 200;
    border-radius: 0px;
    width: 100%;
    margin-top:15px;
  }
  .fa-envelope-o {
    margin: 0px 0px 0px 10px;
  }
  p{
    text-align: center;
    font-size: 19px;
    color:#868686;
    font-weight: 200;
    padding: 20px;
    margin: 20px 0px 20px 0px;
  }
}

.second-one {
  z-index: 2001;
  background: none;
  div {
    background-color: #fff;
  }
}


.post-divs .column {
  //margin: 0px !important;
}

.sideICON {
  font-weight: 200;
  margin-top: 0px;
  padding-top: 0px;
  float: center;
  left:0;
  right:0;
  .the-icon {
    font-size: 80px;
    padding: 0px;
    color:#313131;
    position: relative;
  }
  .the-text {
    text-align: center;
    font-size: 25px;
    padding-top: 0px;
    color:#313131;
  }
  .counted-btn{
    position: absolute;
    z-index: 10;
    border-radius: 50px;
    right:15px;
    font-weight: 400;
    font-family: tahoma;
  }
}

.divOverFlow {
  overflow-y: auto;
}

.third-one{
  z-index:3500;
}

.contDiv {
  padding : 0px;
}

#removeRememberList {
  margin-top: 0px;
}

.eachTitle{
  padding: 15px;
  border-bottom: 1px dashed #eee;
}

.facebookBTN {
  width: 100%;
  font-weight: 200;
  background-color: #4267b2;
  border-radius: 0px;

  i {
    margin: 3px 10px 0px 0px;
  }
}

.googleBTN {
  background-color: #f6f6f6;
  color: #928b8b;
  border: 1px solid #cccc;
  margin-top: 15px;
  font-weight: 200;
  width: 100%;
}

.check {
  padding: 0px;
}

.rtl{
  direction: rtl;
}

.new-ans-class {
  opacity: 1;
  display: none;
}

/* timer component */
.general_clock{
  position: fixed;
  z-index: 2000;
  background-color: #ff7267;
  margin-top: 52px;
  padding: 5px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

.green_clock {
  background-color:#60ec6b;
}

.yellow_clock{
  background-color: #ece936;
  transition: 0.9s;
}

.m-t-9{
  margin-top: 9px;
}

.is-relative {
  position: relative;
}

/* timer component */

/**/
.start-exam-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  padding: 25px 25px 50px 25px;

  div {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 15px #dad9d9;

    span {
      margin-top: 2.2em;
      font-weight: 200;
      border-radius: 0px;
    }

  }
}

.show-card {
  box-shadow: 0 0 10px #dad6d6;
}

.tags-container {
  div {
    display: inline;
    margin-left: 5px;
  }
}

.table {
  width:100%;
  tr, th ,td {
    text-align:right;
  }
}

.sideICON .fa {
  text-align: center;
}

/*
  THIS IS THE GENERATED FILE THAT IS PRODUCED USING THE SIMPLE LOOP SHOWN ABOVE
*/
.txt-center {
  text-align: center;
}

.is-rounded {
  border-radius: 100px;
}

.radius-0 {
  border-radius: 0px;
}

.radius-3 {
  border-radius: 3px;
}

.txt-right {
  text-align: right;
}

.m-t-5 {
    margin-top: 5px; }

  .p-t-5 {
    margin-top: 5px; }

  .m-b-5 {
    margin-bottom: 5px; }

  .p-b-5 {
    margin-bottom: 5px; }

  .m-l-5 {
    margin-left: 5px; }

  .p-l-5 {
    margin-left: 5px; }

  .m-r-5 {
    margin-right: 5px; }

  .p-r-5 {
    margin-right: 5px; }

  .m-t-10 {
    margin-top: 10px; }

  .p-t-10 {
    margin-top: 10px; }

  .m-b-10 {
    margin-bottom: 10px; }

  .p-b-10 {
    margin-bottom: 10px; }

  .m-l-10 {
    margin-left: 10px; }

  .p-l-10 {
    margin-left: 10px; }

  .m-r-10 {
    margin-right: 10px; }

  .p-r-10 {
    margin-right: 10px; }

  .m-t-15 {
    margin-top: 15px; }

  .p-t-15 {
    margin-top: 15px; }

  .m-b-15 {
    margin-bottom: 15px; }

  .p-b-15 {
    margin-bottom: 15px; }

  .m-l-15 {
    margin-left: 15px; }

  .p-l-15 {
    margin-left: 15px; }

  .m-r-15 {
    margin-right: 15px; }

  .p-r-15 {
    margin-right: 15px; }

  .m-t-20 {
    margin-top: 20px; }

  .p-t-20 {
    margin-top: 20px; }

  .m-b-20 {
    margin-bottom: 20px; }

  .p-b-20 {
    margin-bottom: 20px; }

  .m-l-20 {
    margin-left: 20px; }

  .p-l-20 {
    margin-left: 20px; }

  .m-r-20 {
    margin-right: 20px; }

  .p-r-20 {
    margin-right: 20px; }

  .m-t-25 {
    margin-top: 25px; }

  .p-t-25 {
    margin-top: 25px; }

  .m-b-25 {
    margin-bottom: 25px; }

  .p-b-25 {
    margin-bottom: 25px; }

  .m-l-25 {
    margin-left: 25px; }

  .p-l-25 {
    margin-left: 25px; }

  .m-r-25 {
    margin-right: 25px; }

  .p-r-25 {
    margin-right: 25px; }

  .m-t-30 {
    margin-top: 30px; }

  .p-t-30 {
    margin-top: 30px; }

  .m-b-30 {
    margin-bottom: 30px; }

  .p-b-30 {
    margin-bottom: 30px; }

  .m-l-30 {
    margin-left: 30px; }

  .p-l-30 {
    margin-left: 30px; }

  .m-r-30 {
    margin-right: 30px; }

  .p-r-30 {
    margin-right: 30px; }

  .m-t-35 {
    margin-top: 35px; }

  .p-t-35 {
    margin-top: 35px; }

  .m-b-35 {
    margin-bottom: 35px; }

  .p-b-35 {
    margin-bottom: 35px; }

  .m-l-35 {
    margin-left: 35px; }

  .p-l-35 {
    margin-left: 35px; }

  .m-r-35 {
    margin-right: 35px; }

  .p-r-35 {
    margin-right: 35px; }

  .m-t-40 {
    margin-top: 40px; }

  .p-t-40 {
    margin-top: 40px; }

  .m-b-40 {
    margin-bottom: 40px; }

  .p-b-40 {
    margin-bottom: 40px; }

  .m-l-40 {
    margin-left: 40px; }

  .p-l-40 {
    margin-left: 40px; }

  .m-r-40 {
    margin-right: 40px; }

  .p-r-40 {
    margin-right: 40px; }

  .m-t-45 {
    margin-top: 45px; }

  .p-t-45 {
    margin-top: 45px; }

  .m-b-45 {
    margin-bottom: 45px; }

  .p-b-45 {
    margin-bottom: 45px; }

  .m-l-45 {
    margin-left: 45px; }

  .p-l-45 {
    margin-left: 45px; }

  .m-r-45 {
    margin-right: 45px; }

  .p-r-45 {
    margin-right: 45px; }

  .m-t-50 {
    margin-top: 50px; }

  .p-t-50 {
    margin-top: 50px; }

  .m-b-50 {
    margin-bottom: 50px; }

  .p-b-50 {
    margin-bottom: 50px; }

  .m-l-50 {
    margin-left: 50px; }

  .p-l-50 {
    margin-left: 50px; }

  .m-r-50 {
    margin-right: 50px; }

  .p-r-50 {
    margin-right: 50px; }


@import "./new_style";
