.card-content {
    height: 200px;
    padding-top: 25px;

    h1 {
      font-weight: bold;
      color : #fff;
      margin-top: 15px;
    }
}

.card-footer {
  background-color: #1c1c1c;
  border: none;

  .item-1 {
    border-right: 1px dashed #525252;
  }

  a {
    color : #fff;
    font-weight: normal;
  }
}

.sideHiddenDiv p {
  cursor : pointer;
}

.new-nav-style {
  background-color: white;
  box-shadow: 0 0 4px black;
  a {
    color: #2b2b2b;
    border-bottom : 2px solid #fff;
  }
  a:hover {
    color : $primary !important;
    border-bottom : 2px solid $primary;
  }
}

.infinite-div {
  text-align: center;
  div,a,p,span,button{
    text-align: center;
  }
}

.title {
  font-weight: bold;
  text-align:center;
}

.subtitle {
  font-weight: normal;
  text-align:center;
}

.edit-post-btn {
  border-radius: 50px;
  font-size: 13px;
}

.new-ans-class {
  opacity: 0.4;
}

.new-ans-class:focus , .new-ans-class:hover{
  opacity: 1;
  border: 1px solid $primary;
}

.backPicker-modal {
  width: 350px;
}

.back-class {
  height: 170px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.back-class:hover{
  opacity: 0.9;
  border: 2px solid $primary;
}

.back-class-clicked {
  opacity: 0.7;
  border: 2px solid $primary;
}

.select-cat {
  input {
    border-radius: 0px;
    font-weight: 300;
    box-shadow: 3px 3px #f6f6f6;
    width: 100%;
    border: 1px solid #e2e2e2;
  }
}

.animation-content {
  width: 100%;
  z-index: 2000;
  .loginDiv {
    box-shadow: none;
  }
}

.snackbar {
  direction : rtl;
  box-shadow: 0 0 20px #4e4e4e !important;
  background-color: #212020 !important;
  border-radius: 100px !important;
  div.action{
    margin : 10px;
    border-radius: 100px !important;
  }
}


label.switch {
  direction : rtl;
  span.check {
    direction : ltr;
  }
}

.divContainNextButt {
  button {
    width: 100%;
    border-radius: 100px;
    margin-top: 15px;
  }
}


.toNextCaseField {
  width: 100%;
  padding: 10px;
}

.nextCaseTextArea {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 black;
  direction: rtl;
}


.toNextCaseFieldBtn {
  width: 100%;
  padding-top: 0px;
  padding: 10px;
}

.nextCaseBtn {
  width: 100%;
  font-weight: 300;
  border-radius: 100px;
}

.nextCaseWarning {
  text-align: right !important;
  direction: rtl;
  width: 100%;
  padding: 10px;
}


.nextCaseWarning .media-content {
  text-align: center;
}

body{
  height: 100%;
}

.btnUpdatePrediction {
  position: absolute;
  border-radius: 100px;
  top: 45px;
  left: 50px;
}

.category-span{
     color:  #fff;
     padding: 0px 15px 5px;
     /* position:  absolute; */
     border-radius: 100px;
     /* top: 5px; */
     background-color: rgba(4, 4, 4, 0.35);
     // background-color: #04040459;
     /* box-shadow: 0 0 20px #3b3b3b; */
     a {
       color:#fff !important;
     }
}
