<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

      <div class="container-fluid" id="login">
        <!-- create post -->
        <div class="container">

          <div class="columns post-divs">

              <div class="column is-1">
              </div>

              <div style="margin-bottom:0px;" class="column loginDiv">
                ldslmfl
              </div>

              <div class="column is-1">
              </div>

          </div>

        </div>
      </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
