<template>
  <div>

      <nav-component></nav-component>
      <br><br><br><br>
      <div class="container-fluid" id="login">

            <div class="columns">

                <div class="column is-2">
                </div>

                <div class="column loginDiv">

                    <div class="columns is-multiline">
                        <div class="column">
                            <h1 style="text-align:right"> إنشاء أوسمة </h1>

                            <div v-if="creating_tags_is_ready" class="field">
                                <div class="control">
                                <input v-model="current_tag" type="text" @keypress.57.prevent="" @keyup.prevent.enter="addTag" dir="rtl" placeholder=" إسم الوسم ثم إضغط على Enter " autofocus>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <div class="field tags-container">
                                        <div v-for="tag in tags">
                                            <b-tag
                                                type="is-primary"
                                                closable
                                                @close="removeTagAndClose(tag)">
                                                {{ tag }}
                                            </b-tag>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="!creating_tags_is_ready" class="field rtl"> إنتظر للحظة رجاءا... </div>

                            <div v-if="creating_tags_is_ready" class="columns">
                                <div class="column is-3 field">
                                    <button @click="saveTags" :class="save_butt_class">
                                        حفظ
                                    </button>
                                </div>
                                <div class="column is-3">

                                </div>
                                <div class="column">
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">

                            <h1 class="txt-right">عرض جميع الأوسمة</h1>
                            <table v-if="show_old_tags" class="table">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>الوسم</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tag in old_tags">
                                        <td>
                                            <span @click="removeTagFromDB(tag)" class="button is-dark is-small">
                                                <i class="fa fa-trash-o"></i>
                                            </span>
                                        </td>
                                        <td>{{ tag }}</td>
                                    </tr>
                                </tbody>

                            </table>
                            <div v-if="!show_old_tags" class="txt-center">
                                <span @click="show_old_tags = true" class="button is-default"> عرض الكل </span>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="column is-2">
                </div>
            </div>

      </div>

  </div>
</template>


<script>
export default {
  data(){
      return {
          current_tag : '',
          tags : [],
          old_tags : [],
          creating_tags_is_ready : false,
          save_butt_class : 'button is-primary is-large nextButt',
          show_old_tags : false
      }
  },
  mounted(){
      this.getOldTags();
  },
  methods: {

      getOldTags(){
          axios.get('/get_old_tags')
            .then(res => {
                if(res.status == 200){
                    let arr = [];
                    arr = res.data;
                    arr.forEach(object => {
                        this.old_tags.push(object.tag);
                    });
                    this.creating_tags_is_ready = true;
                }
            })
            .catch(err => {
                console.log(err);
            });
      },

      addTag(){
          if(this.current_tag != ''
                && this.old_tags.indexOf(this.current_tag) == -1
                && this.tags.indexOf(this.current_tag) == -1
            ){
            this.tags.push(this.current_tag);
            this.current_tag = '';
          }else{
              this.current_tag = '';
          }
      },

      saveTags(){

          if(this.tags.length == 0){
              return 0;
          }

          this.save_butt_class = 'button is-primary is-loading is-large nextButt'
          this.tags.forEach( tag => {

            axios.post('save_tag',{
                tag
            }).then(res => {
                    if(res.status == 200) {
                        this.tags.forEach(elem => {
                            this.old_tags.unshift(elem);
                        });
                        this.tags = [];
                    }
                    this.save_butt_class = 'button is-primary is-large nextButt';
                })
                .catch(err => {
                    console.log(err);
                    this.save_butt_class = 'button is-primary is-large nextButt';
                });

          } );
      },

      removeTagAndClose(value){
          let index = this.tags.indexOf(value);
          this.tags.splice(index,1);
      },

      removeTagFromDB(value){
          const loadingComponent = this.$loading.open()
          axios.post('/removeTag',{ tag : value })
            .then(res => {
                if(res.status == 200){
                    let index = this.old_tags.indexOf(value);
                    this.old_tags.splice(index,1);
                    loadingComponent.close();
                }
            })
            .catch(err => {
                console.log(err);
                loadingComponent.close();
            });
      }
  }
  ,
  watch : {
    current_tag : function(value){
      this.current_tag = value.replace(/\s/g,'_');
    }
  }
}
</script>
