<template>
  <div>
    <nav-component></nav-component>

    <timer v-if="exam_exist" :timeReady="timer_ready" :minutes="min" :seconds="sec" :runIt="turn_it" @time-out="stopAllCauseOfTime"></timer>

    <br><br><br><br>
    <div class="root container">
        <br><br><br><br>
        <div class="columns">
            <div class="column is-4">

                <div class="columns is-multiline">
                    <div class="column is-full" v-for="n in 15">
                        <div class="card show-card">
                            <div class="card-content">
                                <p class="title">
                                    “ qsdqsmùdlùqmsld7 ”
                                </p>
                                <p class="subtitle">
                                    حمزة نوالي
                                </p>
                            </div>

                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <span>
                                        <a> إجتياز الآن </a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span>
                                        <a>ذكرني لاحقا</a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="loginDiv">

                    <!-- exam title -->
                    <h1 class="rtl">{{ this.$route.params.title.replace(/-/g,' ') }}</h1>
                    <span v-if="!exam_exist" class="is-centered"> تحميل الإختبار.. </span>

                    <!-- exam form -->
                    <div class="is-relative" v-if="exam_exist && !result_exists">

                        <!-- start exam modal -->
                        <div class="start-exam-modal" v-if="exam_started">
                            <div>
                                <br><br><br>
                                <span @click="startExam" class="button is-primary is-large">إبدأ الآن</span>
                                <br><br><br>
                            </div>
                        </div>

                        <div>
                            <!-- question -->
                            <h2 class="show_title rtl"> {{ question.question }} </h2>
                                <ul>
                                    <!-- answer -->
                                    <li class="show_li rtl" v-for="answer in answers[questions.indexOf(question)]">
                                        <!-- {answer : answer, question_id : questions.indexOf(question) } -->
                                        <!-- ''+answer+'-'+questions.indexOf(question) -->
                                        <b-radio v-if="question.isNotMultiAnswers != 'لا'" v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            {{ answer[0] }}
                                        </b-radio>
                                        <b-checkbox v-if="question.isNotMultiAnswers == 'لا'" checked="false" v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            {{ answer[0] }}
                                        </b-checkbox>
                                    </li>
                                    <!-- end answer -->
                                </ul>
                        </div>

                        <!-- to next button -->
                        <div class="field">
                            <div class="control">
                                <button v-if="checked_answers[counter].length == 0" @click="toNext" class="button is-large is-static"> التالي </button>
                                <button v-if="checked_answers[counter].length != 0" @click="toNext" class="button is-large is-primary"> التالي </button>
                            </div>
                        </div>
                    </div>

                    <!--<div class="text-center">
                        <p class="instruction  rtl"></p>
                        <button class="button is-primary is-large radius-0 start-test"> إبدأ الآن </button>
                    </div>-->

                    <!-- result section -->
                    <div v-if="result_exists" class="columns is-multiline">
                        <!--  -->
                        <div class="column is-full">
                            <span> النتيجة : </span>
                            <span>{{ rightAnswers.length }} إجابة صحيحة </span>
                            <span>{{ falseAnswers.length }} إجابة خاطئة </span>
                        </div>

                        <!-- right answers section -->
                        <ul class="column is-12 rightRes rtl">
                            <h3 class="h3_right_answers"><i class="fa fa-check-circle-o"></i> الإجابات الصحيحة</h3>
                            <li v-for="answer in rightAnswers">

                                <!-- question -->
                                <h4 class="result_ques ">- {{ questions[answer.question_id].question }}</h4>
                                <!-- your answer -->
                                <span class="result_ans p-r-20"><i class="fa fa-check ans_icon"></i> {{ answer.ans }}</span>
                                <!-- the right answer -->
                                <div v-for="ans1 in answers[answer.question_id]">
                                    <div v-if="ans1[0] != answer.ans">
                                        <span class="result_ans p-r-20" v-if="ans1[1]">
                                            <b-tooltip label="إجابة صحيحة، لم تخترها"
                                            position="is-left"
                                            type="is-dark"
                                            size="is-large"
                                            animated>
                                                <i class="fa fa-info-circle ans_icon"></i>
                                            </b-tooltip>
                                            {{ ans1[0] }} <br></span>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <br>

                        <!-- false answers section -->
                        <ul class="column rightRes falseRes rtl">
                            <h3 class="h3_right_answers false_answer"><i class="fa fa-window-close-o"></i> الإجابات الخاطئة</h3>
                            <li v-for="answer in falseAnswers">

                                <!-- question -->
                                <h4 class="result_ques ">- {{ questions[answer.question_id].question }}</h4>
                                <!-- your answer -->
                                <span class="result_ans line-through p-r-20"><i class="fa fa-close ans_icon"></i> {{ answer.ans }}</span>
                                <br>
                                <!-- the right answer -->
                                <div v-for="ans in answers[answer.question_id]">
                                    <span class="result_ans p-r-20" v-if="ans[1]"><i class="fa fa-check ans_icon"></i> {{ ans[0] }} <br></span>
                                </div>

                            </li>
                        </ul>

                    </div>
                    <!-- end result section -->
                </div>
            </div>
        </div>

    </div>

  </div>
</template>

<script>
export default {
  data(){
      return {
          exam_exist: false,
          questions : '',
          counter : 0,
          question : '',
          answers : '',
          checked_answers : [[]],
          result_exists : false,
          rightAnswers : [],
          falseAnswers : [],
          radio : '',
          min: 0,
          sec: 0,
          exam_started : true,
          turn_it : false,
          finished_exam : false,
          timer_ready : false
      }
  },
  methods:{

      stopAllCauseOfTime(){
          console.log('okey');
          if(!this.finished_exam){
              let interval = setInterval(()=>{
                  if(this.finished_exam){
                      clearInterval(interval);
                  }else{
                      this.toNext();
                  }
              },1);
          }
      },

      getExam(){
        axios.get('/getExam/'+this.$route.params.id).then(response => {
            this.questions = JSON.parse(response.data[0].question);
            this.answers = JSON.parse(response.data[0].answer);
            this.min = JSON.parse(response.data[0].timer).minutes;
            this.sec = JSON.parse(response.data[0].timer).seconds;
            this.exam_exist = true;
            this.question = this.questions[this.counter];
            if(this.min > 0){
                this.timer_ready = true;
            }else if(this.min == 0 && this.sec > 0){
                this.timer_ready = true;
            }
        }).catch();
      },

      toNext(){
          this.counter++;
          this.checked_answers.push([]);
          if(!this.questions[this.counter]){
              this.finished_exam = true;
              this.turn_it = false;
              this.result_exists = true;
              this.checked_answers.forEach((array) => {
                // this is for the radio answer

                if(!Array.isArray(array)){
                    array = [array];
                }

                array.forEach( elem => {
                    if(elem.answer[1]){
                        this.rightAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }else{
                        this.falseAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }
                } );

              });
          }else{
              this.question = this.questions[this.counter];
          }
      },

      startExam(){
          this.exam_started = false;
          this.turn_it = true
      }

  },
  mounted(){
      this.getExam();
  }
}
</script>
