<template>
  <div>

      <nav-component></nav-component>
      <br><br><br><br>
      <div class="container-fluid" id="login">

            <div class="columns">

                <div class="column is-2">
                </div>

                <div class="column loginDiv">

                    <div class="columns is-multiline">

                        <div class="column is-12">

                            <h1 class="txt-right"> إختبارات تحتاج الى إنهاء </h1>
                            <table v-if="show_tmp_exams" class="table">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>الوسم</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="exam in tmp_exams">
                                        <td>
                                            <span @click="removeTmpExamFromDB(exam.id)" class="button is-dark is-small">
                                                <i class="fa fa-trash-o"></i>
                                            </span>

                                        </td>
                                        <td>
                                          <router-link :to="{ name: 'update_tmp_exam', params : { id : exam.id } }">
                                            {{ exam.title }}
                                          </router-link>
                                        </td>
                                    </tr>
                                </tbody>

                                <div v-if="more_tmp_exam_exists" class="txt-center">
                                    <span @click="skip_tmp_exam += 15;getTmpExams()" class="button is-dark"> المزيد </span>
                                </div>

                            </table>
                            <div v-if="!show_tmp_exams" class="txt-center">
                                <span @click="show_tmp_exams = true" class="button is-default"> عرض الكل </span>
                            </div>

                        </div>

                        <div class="column is-12">

                            <h1 class="txt-right"> جميع الإختبارات </h1>
                            <table v-if="show_exams" class="table">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>الوسم</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="exam in exams">
                                        <td>
                                            <span @click="removeExamFromDB(exam.id)" class="button is-dark is-small">
                                                <i class="fa fa-trash-o"></i>
                                            </span>
                                        </td>
                                        <td>
                                          <router-link :to="{ name: 'update_exam', params : { id : exam.id, title : exam.title.replace(/\s/g,'-') } }">
                                            {{ exam.title }}
                                          </router-link>
                                        </td>
                                    </tr>
                                </tbody>

                                <div v-if="more_exam_exists" class="txt-center">
                                    <span @click="skip_exam += 15;getExam(exam.title)" class="button is-dark"> المزيد </span>
                                </div>

                            </table>

                            <div v-if="!show_exams" class="txt-center">
                                <span @click="show_exams = true" class="button is-default"> عرض الكل </span>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="column is-2">
                </div>
            </div>

      </div>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        skip_exam : 0,
        skip_tmp_exam : 0,
        more_exam_exists : false,
        more_tmp_exam_exists: false,
        exams : [],
        tmp_exams : [],
        show_exams : false,
        show_tmp_exams : false
      }
    },

    mounted(){
        this.getExams();
        this.getTmpExams();
    },

    methods : {

      getExams(){
        axios.get('/get_exams_for_update/'+this.skip_exam).then(res => {

          if(res.data.length){
            this.more_exam_exists = true;
          }else{
            this.more_exam_exists = false;
          }

          this.exams = this.exams.concat(res.data);
        }).catch(err => {
          //
        });
      },

      getTmpExams(){
        axios.get('/get_tmp_exams_for_update/'+this.skip_tmp_exam).then(res => {

          if(res.data.length){
            this.more_tmp_exam_exists = true;
          }else{
            this.more_tmp_exam_exists = false;
          }

          this.tmp_exams = this.tmp_exams.concat(res.data);
        }).catch(err => {
          //
        });
      },

      removeExamFromDB(id){
          const loadingComponent = this.$loading.open();
          axios.post('/remove_exam',{ id })
            .then(res => {
                if(res.status == 200){
                    this.removeDeletedExam(id);
                    // let index = this.exams.indexOf({id,title : title});
                    // this.exams.splice(index,1);
                    loadingComponent.close();
                }
            })
            .catch(err => {
                console.log(err);
                loadingComponent.close();
            });
      },

      removeTmpExamFromDB(id){
          const loadingComponent = this.$loading.open();
          axios.post('/remove_tmp_exam',{ id })
            .then(res => {
                if(res.status == 200){
                    this.removeDeletedTmpExam(id);
                    // let index = this.tmp_exams.indexOf({id : id , title : title});
                    // this.tmp_exams.splice(index,1);
                    loadingComponent.close();
                }
            })
            .catch(err => {
                console.log(err);
                loadingComponent.close();
            });
      },

      removeDeletedExam(id){
        let i = 0;
        for(i;i<this.exams.length;i++){
          if(this.exams[i].id == id){
              this.exams.splice(i,1);
          }
        }
      },

      removeDeletedTmpExam(id){
        let i = 0;
        for(i;i<this.tmp_exams.length;i++){
          if(this.tmp_exams[i].id == id){
              this.tmp_exams.splice(i,1);
          }
        }
      }

    }

  }
</script>
