<template>

  <div id="login_root">

    <div v-show="this.$store.getters.pageRequireAuth" class="navbar danger-nav nav-fixed-top" >
      <p>  الصفحة التي أردتها تستوجب منك تسجيل الدخول </p>
    </div>
    <br><br><br><br><br><br>
      <div class="container-fluid" id="login">

        <div class="columns">

            <div class="column is-4">
            </div>

            <div class="column loginDiv">

            <form @submit.prevent="manualLogin">
              <p class="is-centered"><img src="/images/icons8_Space_Shuttle_100px.png" alt="إفعلها الآن"></p>
              <h1> تسجيل الدخول </h1>

              <div ref="firebaseui" id="firebaseui-auth-container"></div>



              <div v-if="!loginWithSocialMedia">
                <div class="field">
                  <div class="control">
                    <input type="email" v-model="email" placeholder=" البريد الإلكتروني " autofocus>
                    <span class="alert is-danger"> {{ err_obj.get('email') }} </span>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input type="password" v-model="password" placeholder=" كلمة السر ">
                    <span class="alert is-danger"> {{ err_obj.get('password') }} </span>
                  </div>
                </div>

                <div class="field">
                    <button :class="subClass">
                      دخول
                    </button>
                </div>
                <p class="is-centered"><router-link to=""> نسيت كلمة السر </router-link></p>
                <hr>

              </div>
              <p class="is-centered"><router-link to="/register"> ليس لدي حساب </router-link></p>
              <a href="https://icons8.com/android-icons">Icons download from Icons8</a>
            </form>
            </div>

            <div class="column is-4">
            </div>
        </div>
      </div>
  </div>

</template>

<script>

  class Error {

    constructor(){
      this.error = {};
    }

    get(field){
      if(this.error[field]){
        return this.error[field][0]
      }
    }

    record(error){
      this.error = error
    }

  }

export default {
  beforeCreate(to,from,next){
    NProgress.start();
  },
  mounted(){

    NProgress.done();

    apiHelpers.getFirebase(this.$refs);


    setTimeout(()=>{
      this.$store.commit('pageRequireAuth',false);
    },3000);

    this.firebaseGoogleLogin();

  },
  data() {
    return {
      email : '',
      password : '',
      err_obj : new Error(),
      subClass : 'myloginBTN button is-primary is-large',
      fb_class : 'button is-info is-large facebookBTN radius-0 is-loading',
      google_class : 'button is-large googleBTN radius-0 is-loading',
      social_login : false,
      loginWithSocialMedia : false
    }
  },
  methods: {

    manualLogin(object){

      console.log('login..');

      // preparing credentials
      let user_object = {
        email : this.email,
        password : this.password
      }

      // preparing request url
      let request = '/login';

      // if we pass an object as parameter
      if(object && object.id){
        // customizing user info object
        user_object = object;
        user_object.password = object.id+object.email
        user_object.password_confirmation = object.password
        // end here
        request = '/register';
      }else{
        this.subClass = 'myloginBTN button is-primary is-large is-loading';
      }


      // send the request
      axios.post(request,user_object)

      .then(response => {
        if(response.data){
          this.$store.commit('fromState_isAuth',true);
          this.$router.push(this.$store.getters.last_route);
        }
      })

      .catch(error => {

        console.log('error: '+error.response.data.email);

        // if the error message is :
        // this email is already taken
        // then we will login the user because he is already registered

        if(error.response.data.email){
          console.log(object);
          this.email = object.email;
          this.password = object.id+object.email;
          this.manualLogin();
        }

        this.err_obj.record(error.response.data);
        //
        this.subClass = 'myloginBTN button is-primary is-large';
        // remove alert message
        setTimeout(n => {
          this.err_obj.record({
            error : {}
          });
        },5000);

      })

    },

    firebaseGoogleLogin(){
      firebase.auth().onAuthStateChanged((user) => {
        if(user) {
          // User is signed in.
          /*var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var uid = user.uid;
          var phoneNumber = user.phoneNumber;
          var providerData = user.providerData;*/
          var object = {
            id : user.uid,
            name : user.displayName,
            email : user.email
          }

          this.loginWithSocialMedia = true;
          this.manualLogin(object);

        }
      });
    }

  }
}
</script>


<style>

</style>
