<template>
  <div>
    <br><br><br><br><br><br>
      <div class="container-fluid" id="register">
        <div class="columns">

            <div class="column is-4">
            </div>

            <div class="column loginDiv">
            <form @submit.prevent="manualRegister">
              <p><img src="/images/icons8_Timer_100px.png" alt=""></p>

              <h1> إنشاء حساب </h1>

              <div class="field">
                <div class="control">
                  <input type="text" v-model="name" placeholder=" الإسم المستعار " autofocus>
                </div>
                <span class="alert is-danger"> {{ err_obj.get('name') }} </span>
              </div>

              <div class="field">
                <div class="control">
                  <input type="email" v-model="email" placeholder=" البريد الإلكتروني ">
                </div>
                <span class="alert is-danger"> {{ err_obj.get('email') }} </span>
              </div>

              <div class="field">
                <div class="control">
                  <input type="password" v-model="password" placeholder=" كلمة السر ">
                </div>
                <span class="alert is-danger"> {{ err_obj.get('password') }} </span>
              </div>              
              
              <div class="field">
                <div class="control">
                  <input type="password" v-model="password_confirmation" placeholder=" تأكيد كلمة السر ">
                </div>
                <span class="alert is-danger"> {{ err_obj.get('password') }} </span>
              </div>

              <div class="field">
                <button :class="subClass">
                  دخول
                </button>
              </div>
            </form>
            <router-link to="/login"> لدي حساب </router-link>
            </div>

            <div class="column is-4">
            </div>
        </div>
      </div>
  </div>
</template>

<script>

  class Error {

    constructor(){
      this.error = {};   
    }

    get(field){
      if(this.error[field]){
        return this.error[field][0]
      }
    }

    record(error){
      this.error = error
    }

  }

export default {
  beforeCreate(){
    NProgress.start();
  },
  mounted(){
    NProgress.done();
  },
  data() {
    return {  
      name : '',
      email : '',
      password : '',
      password_confirmation : '',
      err_obj : new Error(),
      subClass : 'myloginBTN button is-primary is-large'
    }
  },
  methods: {
    manualRegister(){

      this.subClass = 'myloginBTN button is-primary is-large is-loading';
      console.log('registering..');

      axios.post('/register',{
        name : this.name,
        email : this.email,
        password : this.password,
        password_confirmation : this.password_confirmation
      })
      .catch(error => {
        console.log(error.response.data);
        this.err_obj.record(error.response.data);
        // 
        this.subClass = 'myloginBTN button is-primary is-large';
        // remove alert message
        setTimeout(n => {
          this.err_obj.record({
            error : {}
          });
        },5000);

      })
      .then(response => {
        if(response.data){
          this.$router.push(this.$store.getters.last_route)
        }
        // this.subClass = 'button is-primary is-large'
      })

    }
  }
}

</script>


<style>


</style>
