<template>
  <div>
      <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://bulma.io">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>

            <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            </div>
        </div>
      </nav>
  </div>
</template>
